<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xixi.user.mapper.OrdersMapper">
    <select id="page" resultType="com.xixi.user.entity.Orders">
        select o.* , u.username,u.name as nickname from orders o left join user u on o.user_id=u.id
        <where>
            <if test="name!=''">
                and o.name like concat('%',#{name},'%')
            </if>
            <if test="role == '用户'">
                and o.user_id=#{userId}
            </if>
        </where>
        order by id desc
    </select>
</mapper>